<!--
    SECCIÓN NUESTRO EQUIPO

    id="equipo":
    identifica esta sección dentro de la página.

    Gracias a este ID podemos crear un enlace
    en el Navbar con:

    href="#equipo"

    Cuando el usuario haga clic en ese enlace,
    el navegador buscará esta sección y bajará
    automáticamente hasta ella.
-->
<section class="team" id="equipo">

<!--
    FILA QUE CONTIENE A TODAS LAS INTEGRANTES

    row:
    crea una fila utilizando el sistema Grid de Bootstrap.

    g-4:
    agrega separación entre las tarjetas.

    justify-content-center:
    centra las tarjetas.
    Esto será especialmente útil en la segunda fila,
    donde solamente tendremos dos integrantes.
-->
<div class="row g-4 mt-5 justify-content-center">

    @for (integrante of integrantes; track integrante.nombre) {

        <!--
            COLUMNA DE CADA INTEGRANTE

            col-12:
            en celular ocupa todo el ancho.

            col-md-6:
            en tablet caben 2 integrantes por fila.

            col-lg-4:
            en computadora caben 3 por fila.

            IMPORTANTE:
            La tarjeta debe estar DENTRO de esta columna.
        -->
        <div class="col-12 col-md-6 col-lg-4">

            <article class="team-card">


                <!--
                    CONTENEDOR CUADRADO DE LA FOTO
                -->
                <div class="team-photo-container">

                    <img
                        [src]="integrante.imagen"
                        [alt]="'Fotografía de ' + integrante.nombre"
                        class="team-photo"
                    >

                </div>


                <!--
                    INFORMACIÓN DE LA INTEGRANTE
                -->
                <div class="team-info">

                    <h3 class="team-name">
                        {{ integrante.nombre }}
                    </h3>

                    <p class="team-role">
                        {{ integrante.rol }}
                    </p>

                    <p class="team-career">
                        Universidad del Valle de Guatemala
                    </p>

                </div>

            </article>

        </div>

    }

</div>
