<!--
    Aquí llamamos al componente Navbar.

    "app-navbar" viene del selector que está
    definido en navbar.component.ts.

    Angular reemplazará esta etiqueta por todo
    el contenido de navbar.component.html.
-->
<app-navbar></app-navbar>

<!--
    Hero:
    Es la primera sección importante que verá
    el usuario después del Navbar.

    Su objetivo es explicar rápidamente:
    - quiénes somos
    - qué hacemos
    - por qué debería interesarle al visitante
-->
<app-hero></app-hero>

<!--
    SOBRE NOSOTRAS

    Este componente contendrá la información
    sobre quiénes somos, nuestro propósito
    y los valores de k’ak’b’e.lab.

    "app-about" viene del selector definido
    dentro de about.component.ts.
-->
<app-about></app-about>

<!-- Integrantes de la comunidad -->
<app-team></app-team>
