<!--
    Aquí llamamos al componente Navbar.

    "app-navbar" viene del selector que está
    definido en navbar.component.ts.

    Angular reemplazará esta etiqueta por todo
    el contenido de navbar.component.html.
-->
<app-navbar></app-navbar>

<!--
    Hero:
    Es la primera sección importante que verá
    el usuario después del Navbar.

    Su objetivo es explicar rápidamente:
    - quiénes somos
    - qué hacemos
    - por qué debería interesarle al visitante
-->
<app-hero></app-hero>

<!--
    SOBRE NOSOTRAS

    Este componente contendrá la información
    sobre quiénes somos, nuestro propósito
    y los valores de k’ak’b’e.lab.

    "app-about" viene del selector definido
    dentro de about.component.ts.
-->
<app-about></app-about>

<!-- Integrantes de la comunidad -->
<app-team></app-team>
<!--
    NUESTRO PROPÓSITO

    Esta sección explica por qué nació la comunidad
    y qué buscamos aportar.

    Importante:
    hablamos de nuestros objetivos, no afirmamos
    haber realizado actividades que todavía no existen.
-->
<app-purpose></app-purpose>
<!--
    COLABORA CON NOSOTRAS

    Esta sección está dirigida principalmente a:

    - empresas
    - profesionales
    - instituciones
    - organizaciones

    Su objetivo es explicar de manera concreta
    cómo pueden apoyar o colaborar con k’ak’b’e.lab.
-->
<app-collaboration></app-collaboration>
